{% extends "public/templates/public_template.html" %} {% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recorder-style.css') }}"> {% endblock %} {% block title %}Record{% endblock %} {% block main %}
<div class="container">
    <h1>Recorder</h1>
    <hr>
    <!-- timer label -->
    <h2 id="timerLabel">0s</h2>
    <!-- Control buttons -->
    <div id="controls">
        <button id="recordButton">Record</button>
        <button id="pauseButton" disabled>Pause</button>
        <button id="stopButton" disabled>Stop</button>
    </div>
    <div id="formats">Format: start recording to see sample rate</div>

    <!-- upload selector -->
    <div class="form-group">
        <label for="inputFile">File input</label>
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="inputFile" id="inputFile" oninput="filesize(this);">
                <label class="custom-file-label" for="inputFile" data-browse="Browse"></label>
            </div>
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary input-group-text" id="inputFileReset">Cancel</button>
            </div>
        </div>
    </div>
    </form>

    <button onclick="createDownloadLinkForUpload(document.getElementById('inputFile').files[0])" class="btn btn-primary">Submit</button>



    <p><strong>Recordings:</strong></p>
    <!-- Recording list -->
    <ol id="recordingsList"></ol>
    <hr>

</div>
<br></br>

{% endblock %} {% block script %}
<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
<script src="{{ url_for('static', filename='js/recorder.js') }}">
</script>
<script src="{{ url_for('static', filename='js/recorder-app.js') }}">
</script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
<script>
    bsCustomFileInput.init();
    document.getElementById('inputFileReset').addEventListener('click', function() {

        bsCustomFileInput.destroy();

        var elem = document.getElementById('inputFile');
        console.log(elem.value)
        elem.value = '';
        var clone = elem.cloneNode(false);
        elem.parentNode.replaceChild(clone, elem);

        bsCustomFileInput.init();

    });

    function filesize(elem) {
        console.log(elem.files[0].size)
        document.cookie = 'filesize=' + elem.files[0].size
    }

    function createDownloadLinkForUpload(blob) {

        var url = URL.createObjectURL(blob);
        var au = document.createElement('audio');
        var li = document.createElement('li');
        var link = document.createElement('a');

        //name of .wav file to use during upload and download (without extendion)
        var filename = new Date().toISOString();

        //add controls to the <audio> element
        au.controls = true;
        au.src = url;

        //save to disk link
        link.href = url;
        link.download = filename + ".wav"; //download forces the browser to donwload the file using the  filename
        link.innerHTML = "Save to disk";

        //add the new audio element to li
        li.appendChild(au);

        //add the filename to the li
        li.appendChild(document.createTextNode(filename + ".wav "))

        //add the save to disk link to li
        li.appendChild(link);

        //upload link
        var upload = document.createElement('a');
        upload.href = "#";
        upload.innerHTML = "Upload";
        upload.addEventListener("click", function(event) {
            const audioUrl = URL.createObjectURL(blob);
            const audio = new Audio(audioUrl);

            var data = new FormData();
            data.append('file', blob, 'file');
            fetch(window.origin + '/record/recieve_upload', {
                    method: "POST",
                    credentials: "include",
                    body: data,
                    cache: "no-cache"
                })
                .then(response => response.json())
                .then(json => {
                    console.log(json);
                    console.log(json['message']);
                    // this redirects user to display page
                    window.location.replace(window.origin + "/display/" + json['timestamp']);

                });
        })
        li.appendChild(document.createTextNode(" ")); //add a space in between
        li.appendChild(upload); //add the upload link to li

        // delete button
        var deleteButton = document.createElement('a')
        deleteButton.href = "#";
        deleteButton.innerHTML = " Delete";
        // removes current li from the recordingList
        deleteButton.addEventListener("click", function(event) {
            recordingsList.removeChild(li);
        });
        li.appendChild(deleteButton);

        //add the li element to the ol
        recordingsList.appendChild(li);
    }
</script>
{% endblock %}